<div class="content">
  <div class="grid-container">
    <div class="section">
      <button (click)="peopleButtonClick()" [disabled]="peoplesButtonDisabled">Show by RxJS</button>
      <button class="margin-left" (click)="timerSubscribeClick()" [disabled]="peoplesButtonDisabled">Timer Subscribe</button>
      <button class="margin-left" (click)="rangeClick()" [disabled]="peoplesButtonDisabled">Range</button>
      <div class="result padding-top">{{ displayText1 }}</div>
    </div>
    <div class="section">
      <button (click)="streamOf()" [disabled]="peoplesButtonDisabled">Stream (of)</button>
      <button class="margin-left" (click)="streamFrom1()" [disabled]="peoplesButtonDisabled">Stream (from)</button>
      <button class="margin-left" (click)="streamFrom2()" [disabled]="peoplesButtonDisabled">Stream (from & scan)</button>
      <div class="result padding-top">{{ displayText2 }}</div>
    </div>
    <div class="section" (mousemove)="onMouseMove($event)">
      <button (click)="streamObserv1()" [disabled]="peoplesButtonDisabled">Observable 1</button>
      <button class="margin-left" (click)="streamObserv2()" [disabled]="peoplesButtonDisabled">Observable 2</button>
      <button class="margin-left" (click)="streamObserv3()" [disabled]="peoplesButtonDisabled">Observable event</button>
      <div class="result padding-top">{{ displayText3 }}</div>
    </div>
    <div class="section">
      <button (click)="subjectClick1()" [disabled]="peoplesButtonDisabled">Subject</button>
      <button class="margin-left" (click)="intervalMap()" [disabled]="peoplesButtonDisabled">Tap map filter take</button>
      <button class="margin-left" (click)="takeLast()" [disabled]="peoplesButtonDisabled">takeLast, takeWhile</button>
      <div class="result padding-top">{{ displayText4 }}</div>
    </div>
    <div class="section">
      <button (click)="scanReduceClick()" [disabled]="peoplesButtonDisabled">Scan Reduce</button>
      <button class="margin-left" (click)="fromEventClick()" [disabled]="peoplesButtonDisabled">fromEvent switchMap</button>
      <div class="result padding-top">{{ displayText5 }}</div>
    </div>
  </div>
</div>